* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: block;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
 

}

.facilities-gallery {
  margin-top: 10px;
  display: grid;
  grid-gap: 15px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);

}

.card {
  width: 150px;
  height: 250px;
  object-fit: cover;
}