.cardFacilitys {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.facilityName a {
  text-decoration: none;
  color: #ffffff;
}

.facilityName a:hover {
  width: 50%;
  content: "";
  bottom: 0px;
  left: 25%;
  right: 25%;
  color: #ffffffb2;
  border-bottom: 4px solid #ffffffb2;
  z-index: 9999;
}
.cardFacilitys .cardFacility {
  position: relative;
  margin: 45px 20px;
  width: 351px;
  height: 442px;
  background: rgba(0, 0, 0, 0.49);
}
.img {
  width: 351px;
  height: 442px;
  left: 201px;
  top: 1157px;
  background: rgba(0, 0, 0, 0.49);
}
.facilityName {
  position: absolute;
  height: 40px;
  display: block;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
  color: #ffffff;
}

#servicesList {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 30px;
  justify-content: center;
  padding-bottom: 142px;
  margin: 0 70px;
}

.service {
  flex: 0 0 12%;
}
.service {
  display: flex;
  flex-direction: column;
  margin: 9px;
  justify-content: center;
  padding-top: 40px;
}
.service p {
  text-align: center;
}
.service div {
  margin: auto;
}
.service img {
  display: block;
  align-items: center;
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
}
.facilities-banner {
  display: flex;
  align-items: center;
  height: 80vh;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 251, 245, 0.3) 100%
    ),
    url("../Images/images/16.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
