 .hotel-facilities {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 50px;
  margin-top: 70px;
}

.container {
  position: relative;
}

img{
  width: 250px;
  height: 280px;
  margin: 5px;
  padding-left: 5px;

}

.text{
  position: absolute;
  text-align: center;
  color: white;
  font-weight: 20p;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


