* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  display: block;
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  font-family: Inter;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#fifth-part {
  text-align: center;
  margin: 50px 150px;
}

#fifth-part span {
  font-style: normal;
  font-weight: 500;
  font-size: 1.3em;
  line-height: 40px;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  color: #0129b6;
}

#fifth-part h2 {
  font-style: normal;
  font-weight: bolder;
  font-size: 2.2em;
  line-height: 40px;
}

#facilities {
  display: flex;
  padding: 30px 0;
}
#services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 30px;
}
.facility {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 240px;
  height: 270px;
  margin: 0 auto;
  font-size: 1.4rem;
  color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.service {
  margin: 0 auto;
}
.service img {
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
  .facility {
    min-width: 160px;
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  #fifth-part {
    margin: 50px 50px;
  }
  .facility {
    min-width: 155px;
    height: 180px;
  }
  .service img {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 546px) {
  #facilities {
    flex-direction: column;
  }

  #fifth-part h2 {
    font-size: 1.5em;
  }

  #fifth-part span {
    font-size: 1em;
  }

  .facility {
    min-width: 280px;
    height: 200px;
    margin-bottom: 20px;
  }

  .service img {
    width: 25px;
  }

  .service p {
    font-size: 0.5em;
  }
}

@media screen and (max-width: 320px) {
  .facility {
    min-width: 230px;
  }

  #fifth-part h2 {
    font-size: 1em;
  }

  #fifth-part span {
    font-size: 0.7em;
  }
}
