.section-hospitality {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 50.52%, rgba(255, 251, 245, 0.3) 100%), url("../Images/images/6_1.jpeg");
    padding: 40px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
}

.hospitality__text {
    color: white;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 68px;
    width: 60%;
    margin-left: 40px;
    letter-spacing: 1px;
}

.btn {
    text-decoration: none;
    padding: 1.2rem 2rem;
    background-color: #fff;
    border-radius: 40px;
    color: red;
    margin-right: 50px;
    font-size: 20px;
    font-family: "Open sans", sans-serif;
}