/* section styling */
section{
    width: 100%;
    height: auto;
    background-color: #fffff7;
    margin: 0;
    padding: 0;
    }
    
    .container{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        width: 60%;
        grid-gap: 20px;
        margin: 0 auto;
        margin-top:50px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .card{
        background-color: #ffffff;
        border-radius: 15px;
        box-sizing: border-box;
        -moz-box-shadow:    3px 3px 5px 6px #ccc;
        -webkit-box-shadow: 3px 3px 5px 6px #ccc;
         box-shadow:         0px 0px 9px 3px #ccc;
         z-index: 0;
    }
    
    div.room1{
        background-image: url(../Images/images/2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 200px;
        padding: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        /* border: 2px solid red; */
        position: relative;
    }
    
    div.room1 p{
        position: absolute;
        left: 20px;
        margin: 0;
        padding: 0;
        top: 10px;
        background-color: #ff7913;
        width: 50px;
        color: #fff;
        font-family:  "Rakkas";
        text-align: center;
        border-radius: 20px;
    }
    
    
    div.room2{
        background-image: url(../Images/images/3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 200px;
        padding: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        /* border: 2px solid red; */
        position: relative;
    }
    
    div.room2 p{
        position: absolute;
        left: 20px;
        margin: 0;
        padding: 0;
        top: 10px;
        background-color: #ff7913;
        width: 50px;
        color: #fff;
        font-family:  "Rakkas";
        text-align: center;
        border-radius: 20px;
    }
    
    div.room3{
        background-image: url(../Images/images/4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 200px;
        padding: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        /* border: 2px solid red; */
        position: relative;
    }
    
    div.room3 p{
        position: absolute;
        left: 20px;
        margin: 0;
        padding: 0;
        top: 10px;
        background-color: #ff7913;
        width: 50px;
        color: #fff;
        font-family:  "Rakkas";
        text-align: center;
        border-radius: 20px;
    }
    
    
    div.room4{
        background-image: url(../Images/images/11.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 200px;
        padding: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        /* border: 2px solid red; */
        position: relative;
    }
    
    div.room4 p{
        position: absolute;
        left: 20px;
        margin: 0;
        padding: 0;
        top: 10px;
        background-color: #ff7913;
        width: 50px;
        color: #fff;
        font-family:  "Rakkas";
        text-align: center;
        border-radius: 20px;
    }
    
    div.room5{
        background-image: url(../Images/images/12.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 200px;
        padding: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        /* border: 2px solid red; */
        position: relative;
    }
    
    div.room5 p{
        position: absolute;
        left: 20px;
        margin: 0;
        padding: 0;
        top: 10px;
        background-color: #ff7913;
        width: 50px;
        color: #fff;
        font-family:  "Rakkas";
        text-align: center;
        border-radius: 20px;
    }
    
    div.room6{
        background-image: url(../Images/images/13.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 200px;
        padding: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        /* border: 2px solid red; */
        position: relative;
    }
    
    div.room6 p{
        position: absolute;
        left: 20px;
        margin: 0;
        padding: 0;
        top: 10px;
        background-color: #ff7913;
        width: 50px;
        color: #fff;
        font-family:  "Rakkas";
        text-align: center;
        border-radius: 20px;
    }
    
    div.room7{
        background-image: url(../Images/images/14.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 200px;
        padding: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        /* border: 2px solid red; */
        position: relative;
    }
    
    div.room7 p{
        position: absolute;
        left: 20px;
        margin: 0;
        padding: 0;
        top: 10px;
        background-color: #ff7913;
        width: 50px;
        color: #fff;
        font-family:  "Rakkas";
        text-align: center;
        border-radius: 20px;
    }
    
    div.room8{
        background-image: url(../Images/images/2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 200px;
        padding: 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        /* border: 2px solid red; */
        position: relative;
    }
    
    div.room8 p{
        position: absolute;
        left: 20px;
        margin: 0;
        padding: 0;
        top: 10px;
        background-color: #ff7913;
        width: 50px;
        color: #fff;
        font-family:  "Rakkas";
        text-align: center;
        border-radius: 20px;
    }
    
    .card h3{
        font-weight: normal;
        margin-left: 15px;
    }
    
    .card p{
        margin-left: 15px;
        color: rgb(102, 102, 102);
    }
    
    .card h3 span{
        color: #ff7913;
        position: relative;
        left: 15px;
        font-weight: 500;
        font-size: 15px;
    }
    
    .card button{
        background-color: #ff7913;
        border: none;
        border-radius: 15px;
        font-size: 10px;
        line-height: 18px;
        text-align: center;
        color: #fff;
        width: 80px;
        margin: 0 50px;
        
    }
    
    /* media quarries */
    
    @media screen and (max-width: 1000px)  {
        .container{
            display: grid;
            grid-template-columns: auto auto ;
            grid-template-rows: auto auto;
            width: 60%;
            grid-gap: 20px;
            margin: 0 auto;
            margin-top:50px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    
    
    @media screen and (max-width: 550px)  {
        .container{
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            width: 100%;
            grid-gap: 10px;
        }
    
        .card{
            border-radius: 0;
        }
    
        .card button{
            width: 80px;
            margin: 0 138px;
            
        }
    
        div.room1{
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    
        div.room2{
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    
        div.room3{
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    
        div.room4{
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    
        div.room5{
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    
        div.room6{
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    
        div.room7{
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    
        div.room8{
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }