
.category1 {
    position: absolute;
    top: 5vw;
    min-width: 100%;
}

.category1 a {
    float: right;
    margin-right: 4%;
    font-family: arial;
    text-decoration: none;
    color: white;
    font-size: 1.3vw;
}
#cu {
    float: right;
    margin-right: 10.5%;
    font-family: arial;
    text-decoration: none;
    color: white;
    font-size: 1.3vw;
}
.category1 a:hover {
    border-bottom: 0.1vw solid red;
    border-radius: 0.1vw;
}
#deluxe {
    top: 5vw;
    font-family: 'Gill Sans';
    float: left;
    margin-left: 10.5%;
    font-size: 2vw;
    color: white;
    text-decoration: none;
}
#bg img {
    width: 100%;
}

.rr {
    margin-left: 10.5%;
    top: 23.5vw;
    position: absolute;
    font-family: sans-serif;
    font-stretch: ultra-expanded;
    font-size: 1.1vw;
    color: white;
}
.goodstandard {
    position: absolute;
    top: 26vw;
    margin: 0 auto;
    margin-left: 10.5%;
    font-size: 3.5vw;
    font-family: arial;
    color: white;
    line-height: 165%;
    text-shadow: 5px 5px 5px black;
}

