@font-face {
    font-family: Inter;
    src: url("../Inter/Inter-VariableFont_slnt,wght.ttf");
}

@font-face {
    font-family: OpenSans;
    src: url("../Inter/Inter-VariableFont_slnt,wght.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: OpenSans, 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Inter, 'Helvetica Neue', sans-serif;
}

.page-banner {
    display: flex;
    align-items: center;
    height: 80vh;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 251, 245, 0.3) 100%), url("../Images/images/15.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-banner-content {
    padding: 20px 15px;
    color: white;
    width: 1024px;
    margin: 0 auto;
}

.page-name {
    font-weight: 400;
    letter-spacing: 0.5rem;
    font-size: 1rem;
    margin-left: 5px;
}

.page-introduction {
    font-size: 3rem;
    max-width: 512px;
}

.main-nav {
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 2;
}

.main-nav nav {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 100%;
}

.main-nav .menu {
    margin-left: auto;
}

.main-nav .menu-item {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    position: relative;
}

.main-nav .menu-item.active::after {
    width: 50%;
    border-bottom: solid 4px #AE4C01;
    content: "";
    position: absolute;
    bottom: 0;
    left: 25%;
    right: 25%;
}

.menu-hamburger {
    display: none;
}

@media only screen and (max-width: 768px) {
    .main-nav {
        height: unset;
    }

    .main-nav .logo {
        display: inline-block;
    }

    .main-nav nav {
        display: block;
    }

    .main-nav .nav-left {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
    }

    .menu-hamburger {
        display: inline-block;
    }

    .main-nav .menu {
        transition: all 0.3s linear;
        display: none;
        margin: 0 -15px;
    }

    .main-nav .menu.show {
        display: block;
    }

    /* For mobile phones: */
    .main-nav .menu-item {
        display: block;
    }

    .main-nav .menu-item:not(:last-child) {
        border-bottom: solid 1px #ffffff;
    }

    .main-nav .menu-item.active {
        display: block;
        border-bottom: unset;
    }

    .main-nav .menu-item.active::after {
        width: 100%;
        border-bottom: solid 2px #AE4C01;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: unset;
    }
}