
.container1 {
    position: absolute;
    top: 6vw;
    min-width: 100%;
}
.container1 a {
    float: right;
    margin-right: 4vw;
    font-family: helvetica;
    text-decoration: none;
    color: white;
    font-size: 1.4vw;
}
#contactUs {
    float: right;
    margin-right: 10vw;
    font-family: helvetica;
    text-decoration: none;
    color: white;
    font-size: 1.4vw;
}
.container1 a:hover {
    border-bottom: 0.1vw dotted red;
    border-radius: 0.1vw;
}
#logo {
    margin-top: inherit;
    font-family: 'lucida sans';
    float: left;
    margin-left: 11%;
    color: white;
    text-decoration: none;
    font-size: 2vw;
}
#background img {
    width: 100%;
}
.open {
    margin-left: 10.5%;
    top: 23vw;
    position: absolute;
    font-family: times;
    font-stretch: ultra-expanded;
    color: white;
    font-size: 1.4vw;
}
.close {
    position: absolute;
    top: 23vw;
    margin-left: 10.5%;
    font-size: 380%;
    font-family: verdana;
    color: white;
    font-size: 4vw;
    line-height: 5vw;
}
