* {
    padding: 0;
    list-style: none;
}

body {
    margin: 0;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #645143;
    color: #fff;
}


.logo {
    font-weight: bolder;
    font: xx-large;
    font-family: "Sofia Pro";
}

.container1 {
    display: flex;
    justify-content: space-evenly;
}

.container2 {
    text-align: center;
}

footer li {
    line-height: 35px;
    font-weight: 100 lighter;
    font-family: "Open sans";
    font-size: smaller;
}

.social-media a {
    margin: 20px;
}


/* DESKTOP VIEW */

@media(min-width:768px) {

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: relative;
        height: 300px;
        padding-right: 40px;
    }

    .container1 {
        flex: 2;
        margin-left: -80px;
    }


    .container2 {
        margin-right: 40px;
    }

    .copyright {
        position: absolute;
        top: 220px;
        right: 40%;
    }
}