/* Footer CSS Starts */

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

footer {
  /* background-image: linear-gradient(rgb(95, 74, 60), rgba(0, 0, 0, 0.795)),
    url(../Images/images/bg.jpg); */
  background-color: #645143;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fcf7f7;
  padding-top: 2rem;
}

hr.light {
  border-top: 0.1px solid #746059;
  width: auto;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

footer a {
  color: #fcf7f7;
}

a:hover {
  text-decoration: none;
  color: #fae100f8;
  font-size: 101%;
  transition: ease-in-out, 0.5s;
}

hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

/* Footer CSS Ends */

.cardRooms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardWrapper {
  width: 25%;
}
.cardRoom div:not(.img) {
  margin: 20px;
}
.cardRooms .cardRoom {
  position: relative;
  margin: 45px 20px;
  border: 5px;
  height: 530px;
  width: 351px;
  background: #ffffff;
  box-shadow: 0px 6px 60px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}
.roomRating {
  /* 4.6 */
  position: absolute;
  width: 23px;
  height: 40px;
  top: 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  /* identical to box height, or 250% */
  color: #ffffff;
  width: 83px;
  height: 36px;

  background: #ff7913;
  border-radius: 20px;
}
.img {
  /* position: absolute; */
  width: 351px;
  height: 300px;
  left: 201px;
  top: 1176px;
  background: #c4c4c4;
  background-size: cover;
  border-radius: 30px 30px 0px 0px;
}
.roomType {
  /* position: absolute; */
  /* width: 112px; */
  height: 40px;
  left: 25px;
  top: 321px;
  float: left;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  /* identical to box height, or 200% */

  color: #000000;
}
.roomPrice {
  /* $100 */
  /* position: absolute; */
  width: 51px;
  height: 40px;
  float: right;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 40px;
  /* identical to box height, or 182% */
  color: #ff7913;
}
.roomInfo {
  /* position: absolute; */
  /* width: 154px; */
  height: 40px;
  clear: both;

  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  /* identical to box height, or 250% */
  color: rgba(0, 0, 0, 0.6);
}
.roomBooknow {
  /* Book Now */
  text-align: center;
  /* position: absolute; */
  width: 79px;
  height: 40px;
  font-family: "Open Sans", sans-serif;
  display: block;
  margin: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  /* identical to box height, or 250% */
  color: #ffffff;

  width: 197px;
  height: 50px;

  background: #ff7913;
  border-color: transparent;
  border-radius: 40px;
}
