*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.fina{
    margin-left: 150px;
    margin-right: 150px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}
.img{
    height: 150px;
    width: 100%;
}
.img2{
    height: 150px;
    width: 100%;
}